@font-face {
    font-family: 'TrilliumWeb';
    src: url('/static/fonts/TitilliumWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrilliumWeb';
    src: url('/static/fonts/TitilliumWeb-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TrilliumWeb';
    src: url('/static/fonts/TitilliumWeb-Light.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'TrilliumWeb';
    src: url('/static/fonts/TitilliumWeb-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}