@import './shared/fonts';

//PAGES

@import'./_index';

//COMPONENTS
@import './_header';

html, body {
    font-family: 'TrilliumWeb', 'Helvetica';
    height:100%;
    width:100%;
}
  
.self-typed {
    font-size: 31px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.absolute {
    position: absolute !important;
  }

.base-page {
    padding-top: 150px;
    color: white;
}

.base-page a {
    color: white;
}

.base-page a:hover {
    color: red;
}

.clickable {
    cursor: pointer;
}